@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    padding: 0;margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}



html{
    font-size: 16px;
}




.main-container{
    max-width: 1400px;
    margin: 0 auto;
}




/* header */
header{
   background-color: rgb(104, 104, 224);
   height: 4rem;

   display: flex;
   align-items: center;
   justify-content: center;

   margin-bottom: .5rem;
}
header h2{
    font-size: 1rem;
    color: white;
}
/* header end */






/* first section */
.first-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.left-section{
    height: auto;
    width: 20%;
    background-color: rgb(129, 125, 125);

    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        color: white;
        text-transform: uppercase;
    }
}

.right-section{
    padding-left: .5rem;
    width: 80%;

    .hero-section{
        background-color: rgb(238, 112, 34);
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        height: 30rem;
        margin-bottom: .5rem;

        .container{
            color: white;
            text-align: center;
            height: 15rem;

            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

        }

        button{
            background-color: white;
            color: rgb(238, 112, 34);

            font-size: 1rem;
            padding: .4rem 2rem;
            border-radius: .4rem;
            border: none;

            font-weight: 600;
        }
    }

    .services-section{

        h2{
            color: white;
            text-align: center;
            background-color: rgb(27, 126, 27);

            margin-bottom: .5rem;
            padding: .5rem;
        }

        .container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;

            div{
                padding: 20px;
                background-color: rgb(123, 229, 123);
                min-height: 150px;

                display: flex;
                justify-content: center;
                align-items: center;

                color: white;
            }
        }
    }
}
/* first section end */





/* seconde section */
.second-section{
    height: 13rem;

    background-color: rgb(170, 84, 192);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: .5rem;


    h2{
            color: white;
            text-align: center;

            text-transform: uppercase;
            font-size: 1.1rem;
    }

}
/* seconde section end*/





/* footer */
footer{
    background-color: rgb(47, 47, 49);
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

   h2{
        color: white;
        text-align: center;

        text-transform: uppercase;
        font-size: 1.1rem;
   }
}
/* footer end */