
/* first section */
.first-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.left-section{
    height: auto;
    width: 20%;
    background-color: rgb(129, 125, 125);

    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        color: white;
        text-transform: uppercase;
    }
}

.right-section{
    padding-left: .5rem;
    width: 80%;

    .hero-section{
        background-color: rgb(238, 112, 34);
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        min-height: 60vh;
        margin-bottom: .5rem;

        .container{
            color: white;
            text-align: center;
            height: 15rem;

            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

        }

        button{
            background-color: white;
            color: rgb(238, 112, 34);

            font-size: 1rem;
            padding: .4rem 2rem;
            border-radius: .4rem;
            border: none;

            font-weight: 600;
        }
    }

    .services-section{
        height: auto;
        h2{
            color: white;
            text-align: center;
            background-color: rgb(27, 126, 27);

            margin-bottom: .5rem;
            padding: .5rem;
        }

        .container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;

            div{
                padding: 20px;
                background-color: rgb(123, 229, 123);
                min-height: 25vh;

                display: flex;
                justify-content: center;
                align-items: center;

                color: white;
            }
        }
    }
}
/* first section end */


/* responsive */
@media screen and (max-width: 767px){

    /* first section */
    .first-section{
        flex-direction: column;   
        gap: .5rem;
    }
    .left-section, .right-section{
        width: 100%;
    }
    .right-section{
        padding-left: 0;
        .services-section .container{
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
            gap: .5rem;
        }
    }

}
/* responsive end*/
