/* footer */
footer{
    background-color: rgb(47, 47, 49);
    height: 15vh;

    display: flex;
    align-items: center;
    justify-content: center;

   h2{
        color: white;
        text-align: center;

        text-transform: uppercase;
        font-size: 1.1rem;
   }
}
/* footer end */